

main{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
}
.search{
display: flex;
align-items: center;

}
#pokemonName {
  padding: 20px 200px;
  border: 0;
  height: 60px;
  border-radius: 0 20px 20px 0;
}

#searchButton {
  padding: 5.9px 10px;
  height: 60px;
  font-size: 2rem;
  border-radius: 20px 0 0 20px;
  border: none;
  background-color: rgb(255, 255, 255); 
  cursor: pointer;
}
#pokedex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
input:focus {
  outline: none; /* Elimina el resaltado de enfoque */
}


.pokemon-thumbnail {
  text-align: center;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
  width: 320px;
  height: 250px;
  background: #292829; 
  color: white;
  transition: .3s ease;
}
.pokemon-thumbnail:hover{
background-color: rgb(63, 61, 61);
transform: scale(1.05);
}
.pokemon-thumbnail img{
max-width: 200px;

}

@media screen and (max-width: 767px) {
  #pokemonName {
    padding: 20px 100px;
    border: 0;
    height: 60px;
    border-radius: 0 20px 20px 0;
  }
  
}

@media screen and (max-width: 500px) {
  #pokemonName {
    padding: 10px 50px;

    height: 40px;

  }
  #searchButton {
    font-size: 1.5rem;
    height: 40px;

  }
}
@media screen and (max-width: 407px) {
  #pokemonName {
    padding: 10px 10px;

    height: 40px;

  }
  #searchButton {
    font-size: 1.5rem;
    height: 40px;

  }
}

